{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task edit</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.title) }}

        {{ form_row(edit_form.description) }}

        <ul class="tags" data-prototype="{{ form_widget(edit_form.tags.vars.prototype)|e }}">
            {% for tag in edit_form.tags %}
                <li>{{ form_row(tag.name) }}</li>
            {% endfor %}
        </ul>

        <ul>
            <li>
                <div>
                    <input class="btn" type="submit" value="Save" />
                </div>
            </li>
        </ul>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('task_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
